@model Famvin.Models.Council

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>Council details</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>Region</dt>
        <dd>@Html.DisplayFor(model => model.Region.Name)</dd>

        <dt>@Html.DisplayNameFor(model => model.Country.Name)</dt>
        <dd>@Html.DisplayFor(model => model.Country.Name)</dd>

        <dt>@Html.DisplayNameFor(model => model.Name)</dt>
        <dd>@Html.DisplayFor(model => model.Name)</dd>

    </dl>

    <div class="row mt-5">
        @Html.ActionLink("Edit", "Edit", new { id = Model.IdCouncil }, new { @class = "btn btn-light btn-large mr-2" })
        @Html.ActionLink("Back to list", "Index", null, new { @class = "btn btn-primary btn-large" })
    </div>
</div>
