@model IEnumerable<Famvin.Models.Council>

@{
    ViewBag.Title = "Council List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Councils</h2>

<p class="text-right">
    @Html.ActionLink("New Council", "Create", null, new { @class = "btn btn-primary btn-large" })
</p>

<table class="table">

    @foreach (var group in Model.GroupBy(x => x.Region.Name))
    {

        <tr class="group-header">
            <th width="2%"></th>
            <th width="68%" class="h4"><i class="fa fa-plus-square-o mr-3"></i>@group.Key</th>
            <th width="30%">Councils Total: @group.Count()</th>
        </tr>

        foreach (var item in group)
        {
            <tr>
                <td width="2%"></td>
                <td width="68%">@Html.DisplayFor(modelItem => item.Name)</td>
                <td width="30%">
                    @Html.ActionLink(" ", "Edit", new { id = item.IdCouncil }, new { @class = "btn btn-primary btn-large fa fa-edit", title = "Edit" })
                    @Html.ActionLink(" ", "Details", new { id = item.IdCouncil }, new { @class = "btn btn-primary btn-large fa fa-list", title = "Details" })
                    @Html.ActionLink(" ", "Delete", new { id = item.IdCouncil }, new { @class = "btn btn-danger btn-large btn-elimina fa fa-trash", title = "Delete" })
                </td>
            </tr>
        }
    }
</table>

@section Scripts{
    <script src="js/scripts.js"></script>
}
