@model IEnumerable<Famvin.Models.Member>

@{
    ViewBag.Title = "Member List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Members</h2>

<p class="text-right">
    @Html.ActionLink("New Member", "Create", null, new { @class = "btn btn-primary btn-large" })
</p>

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.IdPosition2)</th>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
        <th>@Html.DisplayNameFor(model => model.Email)</th>
        <th>@Html.DisplayNameFor(model => model.Phone)</th>
        <th>@Html.DisplayNameFor(model => model.Branch.Code)</th>
        <th>@Html.DisplayNameFor(model => model.Council.Name)</th>
        <th>@Html.DisplayNameFor(model => model.Member1.Name)</th>
        <th>@Html.DisplayNameFor(model => model.Member2.Name)</th>
        <th>@Html.DisplayNameFor(model => model.Occupation.Name)</th>
        <th>@Html.DisplayNameFor(model => model.Position.Name)</th>
        <th>@Html.DisplayNameFor(model => model.Region.Name)</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.IdPosition2)</td>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Email)</td>
            <td>@Html.DisplayFor(modelItem => item.Phone)</td>
            <td>@Html.DisplayFor(modelItem => item.Branch.Code)</td>
            <td>@Html.DisplayFor(modelItem => item.Council.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Member1.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Member2.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Occupation.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Position.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Region.Name)</td>
            <td>
                @Html.ActionLink(" ", "Edit", new { id = item.IdMember }, new { @class = "btn btn-primary btn-large fa fa-edit", title = "Edit" })
                @Html.ActionLink(" ", "Details", new { id = item.IdMember }, new { @class = "btn btn-primary btn-large fa fa-list", title = "Details" })
                @Html.ActionLink(" ", "Delete", new { id = item.IdMember }, new { @class = "btn btn-danger btn-large btn-elimina fa fa-trash", title = "Delete" })
            </td>
        </tr>
    }

</table>
