@model IEnumerable<Famvin.Models.Member>

@{
    ViewBag.Title = "Member List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Members</h2>

<p class="text-right">
    @Html.ActionLink("New Member", "Create", null, new { @class = "btn btn-primary btn-large" })
</p>

@using( Html.BeginForm("Search", "Members", FormMethod.Get))
{
    <p class="text-center">
        @Html.TextBox("searching")<input type="submit" value="Search"/>
    </p>
}

<table class="table">

    @foreach (var group in Model.GroupBy(x => x.Region.Name))
    {

        <tr class="group-header">
            @*<th width="2%"></th>*@
            <th colspan="4" class="h4"><i class="fa fa-plus-square-o mr-3"></i>@group.Key</th>
            <th width="20%">Region Total: @group.Count()</th>
        </tr>
        <tr>
            <th width="20%">@Html.DisplayNameFor(model => model.Council.Name)</th>
            <th width="30%">@Html.DisplayNameFor(model => model.Name)</th>
            <th width="10%">@Html.DisplayNameFor(model => model.Branch.Code)</th>
            <th width="15%">@Html.DisplayNameFor(model => model.Position.Name)</th>
            <th width="20%"></th>
        </tr>

        foreach (var item in group)
        {
            <tr>
                <td width="20%">@Html.DisplayFor(modelItem => item.Council.Name)</td>
                <td width="30%">@Html.DisplayFor(modelItem => item.Name)</td>
                <td width="10%">@Html.DisplayFor(modelItem => item.Branch.Code)</td>
                <td width="15%">@Html.DisplayFor(modelItem => item.Position.Name)</td>
                <td width="20%">
                    @Html.ActionLink(" ", "Edit", new { id = item.IdMember }, new { @class = "btn btn-primary btn-large fa fa-edit", title = "Edit" })
                    @Html.ActionLink(" ", "Details", new { id = item.IdMember }, new { @class = "btn btn-primary btn-large fa fa-list", title = "Details" })
                    @Html.ActionLink(" ", "Delete", new { id = item.IdMember }, new { @class = "btn btn-danger btn-large btn-elimina fa fa-trash", title = "Delete" })
                </td>
            </tr>
        }
    }

</table>

@section Scripts{
    <script src="js/scripts.js"></script>
}
