@model Famvin.Models.Country
@{
    ViewBag.Title = "Delete";
}

<div>
    <h4>Are you sure you want to delete this?</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>Region</dt>
        <dd>@Html.DisplayFor(model => model.Region.Name)</dd>

        <dt>@Html.DisplayNameFor(model => model.Name)</dt>
        <dd>@Html.DisplayFor(model => model.Name)</dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color mt-5">
            <input type="submit" value="Delete" class="btn btn-danger btn-large mr-2" />
            @Html.ActionLink("Back to list", "Index", null, new { @class = "btn btn-primary btn-large" })
        </div>
    }
</div>
